@model Bangazon.Models.OrderViewModels.OrderDetailViewModel

@{
    ViewData["Title"] = "ShoppingCart";
}

<h2>ShoppingCart</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LineItems.FirstOrDefault().Product.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineItems.FirstOrDefault().Product.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineItems.FirstOrDefault().Units)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineItems.FirstOrDefault().Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LineItems)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Units)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                <form asp-action="RemoveFromCart">
                    <div class="form-group">
                        <input type="hidden" name="ProductId" asp-for="@item.Product.ProductId" />
                        <input type="hidden" name="OrderId" asp-for="@Model.Order.OrderId" />
                        <input type="submit" value="Remove" class="btn btn-default" />
                    </div>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>

@*<button class="">
    @Html.ActionLing(
   LinkText:
   actionName: ""
   controllerName: "")
</button>*@